ion-input {
    --background: rgb(243, 243, 243);
    --placeholder-color: black;
    --padding-start: 30px;
    --placeholder-opacity: 0.8;
    text-align: left;
    border-radius: 4px;
}

.ml-20 {
    margin-left: 20px;
}