<ion-content>
  <div class="profile">
   <ion-row>
       <ion-col class="ion-text-center">
          <div class="profile-img">
            <img src="../../../assets/profile.png" class="img-fluid" alt="">
          </div>     
          <h1>Jack</h1>
          <p class="subtext">
            Your Password has been changed.
          </p>          
          <ion-button class="btn" color="primary" expand="block" (click)="signupsubmit()">
            ok
          </ion-button>        
       </ion-col>
   </ion-row>
  </div>
</ion-content>