@import '../../../global.scss';
.profile{
    background: $dark-color;
    height: 100vh;
    &-img{
        margin-top: 15vh;
    }
    h1{
        font-size: 2rem;
        color: $light-color;
        font-weight: bold;
        margin-top: 1rem;
    }
    p.subtext{
        font-size: 1.4rem;
        color: $light-color;
        margin: 3rem 0 0;
        font-weight: normal;
    }
    ion-button{
        margin: 2rem auto 0;
        width: 80%;
    }
}