ion-content {
    .text-color-black {
        color: black
    }
    --ion-background-color: #DAEEFF;
    .vertical-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}